@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-xs: 320px;
  --breakpoint-3xl: 1600px;
  --breakpoint-4xl: 1800px;
  --breakpoint-5xl: 2000px;

  --color-border: var(--border);
  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-destructive: var(--border-destructive);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-code-block: var(--code-block);

  --color-link: var(--link);

  --min-width-0: 0;
  --min-width-44: 11rem;
  --min-width-1\/4: 25%;
  --min-width-1\/3: 33%;
  --min-width-1\/2: 50%;
  --min-width-2\/3: 66%;
  --min-width-3\/4: 75%;
  --min-width-2xl: 42rem;
  --min-width-3xl: 48rem;
  --min-width-4xl: 56rem;
  --min-width-5xl: 64rem;
  --min-width-6xl: 72rem;
  --min-width-7xl: 80rem;
  --min-width-8xl: 88rem;
  --min-width-9xl: 96rem;

  --container-0: 0;
  --container-44: 11rem;
  --container-1\/4: 25%;
  --container-1\/3: 33%;
  --container-1\/2: 50%;
  --container-2\/3: 66%;
  --container-3\/4: 75%;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --container-8xl: 88rem;
  --container-9xl: 96rem;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --background-image-gradient-to-b: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  --background-image-gradient-to-t: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    #000000 75%,
    #000000 100%
  );

  --shadow-glow: 0 0 4px rgb(0 0 0 / 0.1);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-xs)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 0%);
  --muted: hsl(0 0% 90%);
  --muted-foreground: hsl(0 0% 50%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 0%);
  --card: hsl(0 0% 98%);
  --card-foreground: hsl(0 0% 0%);
  --border: hsl(0 0% 90%);
  --border-primary: hsl(153, 60%, 53%, 0.7);
  --border-secondary: hsl(0 0% 79%);
  --border-destructive: hsl(0 100% 60%);
  --input: hsl(0 0% 85%);
  --primary: hsl(160 100% 25%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 14%);
  --secondary-foreground: hsl(0 0% 100%);
  --accent: hsl(160 100% 25%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 100% 30%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(160 100% 45%);
  --radius: 0.5rem;
  --chart-1: hsl(160 100% 45%);
  --chart-2: hsl(160 100% 35%);
  --chart-3: hsl(160 100% 25%);
  --chart-4: hsl(160 100% 15%);
  --chart-5: hsl(160 100% 5%);
  --code-block: hsl(160 100% 15%);
  --link: hsl(155 100% 25%);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: hsl(0 0% 7%);
  --foreground: hsl(0 0% 100%);
  --muted: hsl(0 0% 20%);
  --muted-foreground: hsl(0 0% 70%);
  --popover: hsl(0 0% 15%);
  --popover-foreground: hsl(0 0% 100%);
  --card: hsl(0 0% 15%);
  --card-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 20%);
  --border-primary: hsl(153, 60%, 53%, 0.3);
  --border-secondary: hsl(0 0% 21%);
  --border-destructive: hsl(0 100% 40%);
  --input: hsl(0 0% 25%);
  --primary: hsl(155 100% 19%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 14%);
  --secondary-foreground: hsl(0 0% 100%);
  --accent: hsl(160 100% 25%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 100% 30%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(160 100% 45%);
  --chart-1: hsl(160 100% 45%);
  --chart-2: hsl(160 100% 35%);
  --chart-3: hsl(160 100% 25%);
  --chart-4: hsl(160 100% 15%);
  --chart-5: hsl(160 100% 5%);
  --code-block: hsl(160 100% 15%);
  --link: hsl(155 100% 35%);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.blur {
  backdrop-filter: blur(10px);
}

.imgsinglegallery {
  --s: 50px; /* the size on the corner */
  --t: 5px; /* the thickness of the border */
  --g: 10px; /* the gap between the border and image */

  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #b38184; /* the color here */
  outline-offset: calc(-1 * var(--t));
  mask: none;
  -webkit-mask:
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.25rem;
}

button {
  @apply cursor-pointer;
}

pre {
  @apply rounded p-2 bg-code-block text-[#f8f8f2];
}

.fade-out {
  @apply transition-opacity duration-1000 opacity-0;
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
