@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.blur {
  backdrop-filter: blur(10px);
}

.imgsinglegallery {
  --s: 50px; /* the size on the corner */
  --t: 5px; /* the thickness of the border */
  --g: 10px; /* the gap between the border and image */

  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #b38184; /* the color here */
  outline-offset: calc(-1 * var(--t));
  mask: none;
  -webkit-mask: conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}
