.homeWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 20%;
  height: 100%;
  background-color: transparent;
  color: black;
}

.autocompleteWrapper {
  width: 100%;
  height: 100%;
}

.autocompleteInput {
  width: 96%;
  margin: 84px auto 0 auto;
  padding: 16px;
  display: block;
  border: 1px solid yellow;
}

.suggestionWrapper {
  margin: 0;
  width: 96%;
  overflow-x: hidden;
  list-style: none;
  margin: 0 auto;
  display: block;
  padding: 4px;
}

.suggestionWrapper > li {
  padding: 8px 4px;
  background-color: lightblue;
  margin: 4px 0;
  cursor: pointer;
}

.suggestionWrapper > li:hover {
  background-color: #454FBF;
}

.googleMap {
  flex: 1;
  height: 100%;
}